h2 {
  font-size: var(--font-medium);
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
  grid-column: 1/-1;
}

.tshirtName {
  font-weight: 700;
}

.lighter {
  opacity: 80%;
}

p {
  color: var(--text-1-color);
  font-family: var(--font);
  line-height: 1.5rem;
}

.card {
  background-color: var(--xtra-color-3);
  padding: 10px;
}

.card > img {
  max-width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}

.price {
  display: flex;
  justify-content: space-between;
}

.price :nth-child(2) {
  color: var(--bckg-color);
  background-color: var(--ccent-color-1);
}

.wrapermain article.soldOut > img {
  opacity: 0.5;
}

.wrapermain {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem 2rem;
}

.card > a {
  font-family: var(--font);
  color: var(--text-1-color);
  text-decoration: underline dotted var(--ccent-color-3);
}
