:root {
  --bckg-color: #e2e2e2;
  --ccent-color-1: #0597f2;
  --ccent-color-2: #66c7ff;
  --ccent-color-3: #006abf;
  --text-1-color: black;
  --xtra-color-1: #bfb4b0;
  --xtra-color-2: #f2e5df;
  --xtra-color-3: #f5f5f7;

  --font: "Roboto", Arial, Helvetica, sans-serif;

  --font-big: 4rem;
  --font-medium: 2.5rem;
  --font-small: 1.2rem;
}

body {
  background-color: var(--bckg-color);
  margin: 2.5rem;
}

.breadcrumbs {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs li span {
  font-family: var(--font);
  color: var(--ccent-color-3);
  padding-right: 5px;
}

.breadcrumbs li {
  font-family: var(--font);
  color: var(--ccent-color-3);
  padding: 5px 0 5px 15px;
  background-color: var(--bckg-color);
  position: relative;
  display: inline-block;
}

.breadcrumbs li:first-child {
  padding-left: 0px;
}

/* .breadcrumbs li a::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 20px solid var(--bckg-color);
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: 100%;
  z-index: 2;
}

.breadcrumbs li a::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 20px solid var(--ccent-color-3);
  position: absolute;
  top: 50%;
  margin-top: -50px;
  margin-left: 1px;
  left: 100%;
  z-index: 1;
}

.breadcrumbs li:last-child a,
.breadcrumbs li:last-child {
  background: transparent;
  color: var(--text-1-color);
}

.breadcrumbs li:last-child a::after,
.breadcrumbs li:last-child a::before {
  border: 0;
} */

.breadcrumbs .bread::after {
  content: "/";
  color: var(--ccent-color-3);
}

.breadcrumbs li a:hover {
  color: var(--text-1-color);
}

.breadcrumbs li:last-child a:hover {
  cursor: pointer;
}

.productitem {
  padding: 5rem;
  display: grid;
  row-gap: 1rem;
}

.productimg {
  max-width: 100%;
}

.productinfo h2,
.productbuy h2 {
  font-size: var(--font-medium);
}

.productinfo h3 {
  font-size: var(--font-medium);
  font-weight: 500;
  opacity: 50%;
}

.productinfo p,
.productbuy p,
.form {
  font-size: 2rem;
}

select,
button {
  font-size: 1.5rem;
  padding: 0.5rem;
  background-color: var(--xtra-color-3);
}

@media screen and (min-width: 1000px) {
  .productitem {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .productimg {
    grid-column: 1/2;
    grid-row: 1/-1;
  }

  .productinfo,
  .productbuy {
    grid-column: 2/3;
    padding-left: 1.5rem;
  }
}
