h2 {
  font-size: var(--font-medium);
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
  grid-column: 1/-1;
}

.tshirtName {
  font-weight: 700;
}

.card {
  background-color: var(--xtra-color-3);
  padding: 10px;
}

.subtle {
  opacity: 0.6;
}

.productlist article.soldOut img {
  opacity: 0.5;
}

.card {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}

.imgwtext {
  max-width: 100%;
  position: relative;
}

figcaption.soulOutText {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

figcaption.disccountNum {
  position: absolute;
  top: 0px;
  right: 0px;
  text-align: center;
}

figcaption {
  padding: 3px;
  background-color: red;
}

.card {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.price {
  display: flex;
  column-gap: 0.5rem;
}

.discountprice {
  color: red;
  font-weight: 700;
}

.wrapermain {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem 2rem;
}

.card > a {
  font-family: var(--font);
  color: var(--text-1-color);
  text-decoration: underline solid;
}

/* Hide and show sold out and discount */

.soldOutText,
.disccountNum {
  color: white;
  font-weight: 600;
}

article.soldOut > img {
  opacity: 0.2;
}

.soldOutText,
.disccountNum,
.discountprice {
  display: none;
}
