@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --bckg-color: #242424;
  --ccent-color: #f10809;
  --text-1-color: white;
  --text-2-color: #e1dfdb;

  --font: "Roboto", Arial, Helvetica, sans-serif;

  --font-big: 4rem;
  --font-medium: 2.5rem;
  --font-small: 1.2rem;
}

body {
  background-color: var(--bckg-color);
  margin: 2.5rem;
}

/* Header and main navigation */

h1 {
  font-family: var(--font);
  font-weight: 700;
  font-size: var(--font-big);
  color: var(--text-1-color);
}

.R {
  color: var(--ccent-color);
  transform: scale(-1, 1);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wraper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 0 1 40%;
}

.mainNav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
}

.mainNav > li > a {
  text-decoration: underline;
  color: var(--text-1-color);
  font-family: var(--font);
  font-size: var(--font-small);
}

/* Product list */

/* .productlist {
  margin: 2.5rem;
} */

h2 {
  font-size: var(--font-medium);
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

h2,
.tshirtName {
  font-weight: 700;
}

.grey {
  color: var(--text-2-color);
}

h2,
p {
  color: var(--text-1-color);
  font-family: var(--font);
  line-height: 1.5rem;
}

img {
  max-width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}

.price {
  display: flex;
  justify-content: space-between;
}

.price :nth-child(2) {
  background-color: var(--ccent-color);
}

.soldOut > img {
  opacity: 0.5;
}

.soldOuttext {
  background-color: white;
  width: 50%;
}
.soldOuttext > p {
  color: var(--ccent-color);
}

.wrapermain {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 2rem 2rem;
}

h2 {
  grid-column: 1/-1;
}

/* Product view */

.breadcrumbs > li,
.breadcrumbs > li > a {
  font-family: var(--font);
  color: var(--text-1-color);
}

.breadcrumbs li a :hover {
  text-decoration: underline;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
}
