@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --bckg-color: #e2e2e2;
  --ccent-color-1: #0597f2;
  --ccent-color-2: #66c7ff;
  --ccent-color-3: #006abf;
  --text-1-color: black;
  --xtra-color-1: #bfb4b0;
  --xtra-color-2: #f2e5df;
  --xtra-color-3: #f5f5f7;

  --font: "Roboto", Arial, Helvetica, sans-serif;

  --font-big: 4rem;
  --font-medium: 2.5rem;
  --font-small: 1.2rem;
}

body {
  background-color: var(--bckg-color);
  margin: 2.5rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Header and main navigation */

h1 {
  font-family: var(--font);
  font-weight: 700;
  font-size: var(--font-big);
  color: var(--text-1-color);
}

.R {
  color: var(--ccent-color-1);
  transform: scale(1, -1);
}

.wraperheader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 0 1 40%;
}

.mainnav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
}

.mainnav > li > a {
  text-decoration: underline;
  color: black;
  font-family: var(--font);
  font-size: var(--font-small);
}
